:root {
  --main-text-color: #212121;
  --light-text-color: #757575;
  --accent-blue-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --transp-color: rgba(255, 255, 255, 0.6);
  --accent-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --nav-border-color: #ececec;
  --item-border-color: #eeeeee;
  --bg-icon: #f5f4fa;
  --icon-color: #afb1b8;
  --icon-foot-color: #43444d;
  --backdrop-color: rgba(0, 0, 0, 0.2);

  --font-w-500: 500;
  --font-w-700: 700;
  --font-w-900: 900;
  --font-sz-12: 12px;
  --font-sz-14: 14px;
  --font-sz-16: 16px;
  --font-sz-18: 18px;
  --font-sz-20: 20px;
  --font-sz-26: 26px;
  --font-sz-36: 36px;
  --font-sz-44: 44px;

  --let-sp02: 0.02em;
  --let-sp03: 0.03em;
  --let-sp06: 0.06em;

  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-sz-14);
  letter-spacing: var(--let-sp03);
  color: var(--main-text-color);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Page Index.html=================================================*/
/* Header ========================================================== */

.header {
  border-bottom: 1px solid var(--nav-border-color);
}

/* main-nav ========================================================== */

.main-nav {
  display: flex;
  align-items: center;
}

/* logo =============================================================== */

.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-w-700);
  font-size: var(--font-sz-26);
  line-height: 1.19;
  color: var(--accent-blue-color);
}

.head-logo {
  color: var(--black-color);
}

.foot-logo {
  color: var(--white-color);
}

/* nav ==================================================================== */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: var(--font-w-500);
  line-height: 1.14;
  letter-spacing: var(--let-sp02);
  color: var(--main-text-color);

  transition: color var(--time) var(--timing-function);
}

.site-nav .current {
  position: relative;
  color: var(--accent-blue-color);
}

.site-nav .current::after {
  display: block;
  content: '';

  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;

  background-color: var(--accent-blue-color);
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue-color);
}

/* email + tel ====================================================== */

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.nav-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.nav-contacts .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: var(--font-w-500);
  line-height: 1.14;
  letter-spacing: var(--let-sp02);
  color: var(--light-text-color);

  transition: color var(--time) var(--timing-function);
}

.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-blue-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* main ====================================================================*/
/* hero ====================================================================*/

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  color: var(--white-color);
  background-color: var(--footer-bg-color);
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: var(--font-w-900);
  font-size: var(--font-sz-44);
  line-height: 1.36;
  letter-spacing: var(--let-sp06);

  text-transform: uppercase;
}

.hero .hero-btn {
  padding: 10px 32px;

  font-family: inherit;
  font-weight: var(--font-w-700);
  font-size: var(--font-sz-16);
  line-height: 1.88;
  letter-spacing: var(--let-sp06);

  color: var(--white-color);
  background-color: var(--accent-blue-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

/* section =============================================================== */

.section.features,
.section.team,
.section.galery,
.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.work {
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-size: var(--font-sz-36);
  line-height: 1.17;
  text-align: center;
}

/* section features ================================================================*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.features-item {
  width: calc((100%-90px) / 4);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item .thumb {
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: var(--bg-icon);
  border-radius: 4px;
}

.features-item .title {
  margin-bottom: 10px;

  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item .text {
  margin-top: 0;

  line-height: 1.71;
  color: var(--light-text-color);
}

/* section work ============================================================= */

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item > img {
  display: block;
}

.work-item {
  position: relative;
}

.work-subtitle {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 27px;

  font-size: inherit;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--let-sp03);
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* section team  ============================================================*/

.section.team {
  background-color: var(--accent-bg-color);
}

.team-list {
  display: flex;
}

.team-item {
  padding-bottom: 30px;
  margin-right: 30px;
  text-align: center;

  background-color: var(--white-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-item > img {
  margin-bottom: 30px;
}

.team-item .title {
  margin-bottom: 10px;
  padding: 0 5px; /* за макетом цього паддінгу немає, але ж він тут проситься про всяк випадок */

  font-weight: var(--font-w-500);
  font-size: var(--font-sz-16);
  line-height: 1.19;
}

.team-item .text {
  padding: 0 5px; /* за макетом цього паддінгу немає, але ж він тут проситься про всяк випадок */
  margin-bottom: 16px;

  font-size: var(--font-sz-16);
  line-height: 1.19;
  color: var(--light-text-color);
}

.team-item .social-list {
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 32px;
}

.team-item .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--icon-color);
  transition: fill var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function);
}

.team-item .social-link:hover,
.team-item .social-link:focus {
  fill: var(--white-color);
}

.team-item .social-link:hover,
.team-item .social-link:focus {
  background-color: var(--accent-blue-color);
}

/* Regular clients =================================================================*/

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  width: 170px;
  min-height: 92px;
  border: 1px solid var(--icon-color);
  transition: border-color var(--time) var(--timing-function);
}

.clients-item .link {
  display: block;
  padding: 16px 32px;
  transition: fill var(--time) var(--timing-function);
}

.icon-clients {
  display: block;
  fill: var(--icon-color);
}

.clients-item .link:hover .icon-clients,
.clients-item .link:focus .icon-clients {
  fill: var(--accent-blue-color);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-blue-color);
}

/* footer ================================================================ */

.footer {
  background-color: var(--footer-bg-color);
}

.footer .container {
  display: flex;
}

.footer__address-wrapper {
  padding-top: 60px;
  margin-right: 70px;
  width: 231px;
  height: 252px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer__contacts {
  font-style: normal;
  line-height: 1.71;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts .link {
  display: block;
  transition: color var(--time) var(--timing-function);
}

.footer__contacts .link:hover,
.footer__contacts .link:focus {
  color: var(--accent-blue-color);
}

.footer__address {
  color: var(--white-color);
}

.footer__mail,
.footer__tel {
  color: var(--transp-color);
}

/* footer - social=================================== */

.footer__social-wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 72px;
  margin-right: 93px;
  width: 206px;
  height: 252px;
}

.footer__social-wrapper .title {
  margin-bottom: 20px;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer__social-wrapper .social-list {
  display: flex;
  justify-content: space-between;
}

.footer__social-wrapper .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--white-color);
  background-color: var(--icon-foot-color);
  transition: background-color var(--time) var(--timing-function);
}

.footer__social-wrapper .social-link:hover,
.footer__social-wrapper .social-link:focus {
  background-color: var(--accent-blue-color);
}

/* subsctiption  ================================ */

.subscription {
  padding-top: 73px;
  max-width: 570px;
  height: 86px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  
  font-family: inherit;
  font-size: var(--font-sz-16);
  line-height: 1.25;
  
  color: rgba(255, 255, 255, 0.9);
  background-color: #2F303A;
  
  border: 1px solid rgba(255, 255, 255, 0.3); 
  border-radius: 4px;
}

.subscription-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;
  
  font-family: inherit;
  font-weight: var(--font-w-700);
  font-size: var(--font-sz-16);
  line-height: 1.88;
  letter-spacing: var(--let-sp06);
  
  color: var(--white-color);
  background-color: var(--accent-blue-color);
  border-radius: 4px;
  border: none;
  
  cursor: pointer;
}

.subscription-title {
  display: block;
  margin-bottom: 20px;

  font-size: inherit;
  line-height: 1.14;
  font-weight: var(--font-w-700);
  text-transform: uppercase;
  
  color: var(--white-color);
}

.subscription-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

/* Modal Window =========================================================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);

  visibility: visible;
  opacity: 1;
  transition: visibility var(--time) var(--timing-function),
    opacity var(--time) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: flex;
  justify-content: flex-end;
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--white-color);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform var(--time) var(--timing-function),
    opacity var(--time) var(--timing-function);
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition: fill var(--time) var(--timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-blue-color);
}

.form-title {
  margin-bottom: 12px;

  font-family: 'Roboto';
  font-weight: var(--font-w-700);
  font-size: var(--font-sz-20);
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--let-sp03);

  color: var(--main-text-color);
}

.form-field {
  position: relative;
  display: block;
}

.label-name {
  display: block;
  margin-bottom: 4px;

  font-size: var(--font-sz-12);
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--light-text-color);
}

.label-input {
  width: 448px;
  height: 40px;
  padding: 0 40px;
  margin-bottom: 10px;

  font-family: inherit;
  font-size: inherit;
 
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--time) var(--timing-function);
}

.label-input:focus  {
  border: 1px solid var(--accent-blue-color);
  outline: none;
}

.modal-icon {
  position: absolute;
  left: 12px;
  bottom: 21px;
  
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}

.label-input:focus + .modal-icon {
  fill: var(--accent-blue-color);
}

.label-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  font-family: inherit;
  font-size: inherit;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--time) var(--timing-function);
}

.label-comment:focus {
  border: 1px solid var(--accent-blue-color);
  outline: none;
}

.label-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: var(--font-sz-12);
}

.form-agreement {
  display: block;
  text-align: center;
  margin: 20px 0 30px;

  cursor: pointer;
}

.form-agreement input:focus + .form-check {
  border-color: var(--accent-blue-color);
}

.form-agreement input:checked + .form-check {
  background-color: var(--accent-blue-color);
  border-color: var(--accent-blue-color);
}

.form-check {
  position: relative;
  top: 2px;
  left: -6px;

  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.icon-check {
  position: absolute;
}

.agreement-text {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.71;
  letter-spacing: var(--let-sp03);

  color: var(--light-text-color);
}

.agreement-text > a {
  color: var(--accent-blue-color);
}

.button-send {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: 0 auto;
  
  font-family: inherit;
  font-weight: var(--font-w-700);
  font-size: var(--font-sz-16);
  line-height: 1.88;
  letter-spacing: var(--let-sp06);

  color: var(--white-color);
  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

/* Page Portfolio.html ============================================================*/

.galery-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.galery-filter > li:not(:last-child) {
  margin-right: 8px;
}

.galery-filter .btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: var(--font-w-500);
  font-size: var(--font-sz-16);
  line-height: 1.62;
  letter-spacing: inherit;

  color: inherit;
  background-color: var(--accent-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    box-shadow var(--time) var(--timing-function);
}

.galery-filter .btn.active {
  color: var(--white-color);
  background-color: var(--accent-blue-color);
  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    box-shadow var(--time) var(--timing-function);
}

.galery-filter .btn:hover,
.galery-filter .btn:focus {
  color: var(--white-color);
  background-color: var(--accent-blue-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.galery-items {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.galery-item {
  margin: 15px;
  width: calc((100% - 90px) / 3);

  transition: box-shadow var(--time) var(--timing-function);
}

.galery-item:hover,
.galery-item:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.galery-image > img {
  display: block;
  width: 100%;
}

.galery-image {
  position: relative;
  overflow: hidden;
}

.sub-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: var(--font-sz-18);
  line-height: 1.56;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function),
    opacity var(--time) var(--timing-function);
}

.galery-item:hover .sub-image,
.galery-item:focus .sub-image {
  transform: translateY(0);
  opacity: 1;
}

.galery-content {
  padding: 20px 24px;
  border-left: 1px solid var(--item-border-color);
  border-right: 1px solid var(--item-border-color);
  border-bottom: 1px solid var(--item-border-color);
}

.galery-content .title {
  margin-bottom: 4px;

  font-size: var(--font-sz-18);
  line-height: 2;
  letter-spacing: var(--let-sp06);
  color: var(--main-text-color);
}

.galery-content .text {
  font-size: var(--font-sz-16);
  line-height: 1.88;
  color: var(--light-text-color);
}
