.footer {
   background-color: var(--footer-bg-color);

   & .container {
    display: flex;
  }
 }
 
 .footer__contacts-wrapper {
   padding-top: 60px;
   margin-right: 70px;
   width: 231px;
   height: 252px;
 }
 
 .footer__contacts {
   margin-top: 20px;

   font-style: normal;
   line-height: 1.71;
 }
 
 .footer__item:not(:last-child) {
   margin-bottom: 9px;
 }
 
 .footer__link {
   display: block;
   transition: color var(--time) var(--timing-function);
   color: var(--transp-color);

   &:hover,
   &:focus {
    color: var(--accent-blue-color);
  }
 }

 .footer__link--white {
   color: var(--white-color);
 }

 /* footer - social=================================== */
 
 .footer__social-wrapper {
   display: flex;
   flex-direction: column;
 
   padding-top: 72px;
   margin-right: 93px;
   width: 206px;
   height: 252px;
 }
 
 .footer__title {
   margin-bottom: 20px;
 
   font-size: inherit;
   line-height: 1.14;
   text-transform: uppercase;
 
   color: var(--white-color);
 }
 
  /* subsctiption  ================================ */
 
 .footer__subscription {
   padding-top: 73px;
   max-width: 570px;
   height: 86px;
 }
 
 .footer__form {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .footer__input {
   width: 358px;
   height: 50px;
   padding: 15px 16px;
   margin-right: 12px;
   
   font-family: inherit;
   font-size: var(--font-sz-16);
   line-height: 1.25;
   
   color: rgba(255, 255, 255, 0.9);
   background-color: #2F303A;
   
   border: 1px solid rgba(255, 255, 255, 0.3); 
   border-radius: 4px;

   &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
 }
  