.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 
   background-color: var(--backdrop-color);
 
   visibility: visible;
   opacity: 1;
   transition: visibility var(--time) var(--timing-function),
     opacity var(--time) var(--timing-function);

     &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
 }
 
 